#[init]
#  templatedir = ~/.git_template
[user]
	name = kunado
	email = katsusand1@gmail.com
[alias]
	initialize = !~/.git_init.sh
[ghq]
	root = ~/dev/src
[github]
	user = kunado
[commit]
	template = ~/.commit_template
