[user]
  name = naoki saruta
  email = katsusand1@gmail.com
[alias]
  empty-commit = commit --allow-empty -m "empty"
  diff-staged = diff --cached
[ghq]
  root = ~/dev/src
[github]
  user = kunado
#[url "git@github.com:"]
#  pushInsteadOf = https://github.com/
#  pushInsteadOf = git://github.com/
[commit]
  template = ~/.commit_template
