[core]
	pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true
  line-numbers-left-format = ""
  line-numbers-right-format = "| "
  syntax-theme = Monokai Extended Origin
[user]
  name = naoki saruta
  email = katsusand1@gmail.com
[alias]
  empty-commit = commit --allow-empty -m "empty"
  diff-staged = diff --cached
  s = status
  l = log
  cm = commit
  co = checkout
  d = diff
  a = add
  fix = commit --fixup
  as = rebase -i --autosquash
  uncommit = reset --soft HEAD^
[ghq]
  root = ~/dev/src
[github]
  user = kunado
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
[commit]
  template = ~/.commit_template
[push]
	default = current
