env:
  TERM: xterm-256color
  LC_CTYPE: en_US.UTF-8
  LANG: en_US.UTF-8

window:
  opacity: 0.5

# Font configuration
font:
  # Normal (roman) font face
  normal:
    family: 'RictyDiminishedDiscord NF'
    style: Regular

  # Bold font face
  bold:
    family: 'RictyDiminishedDiscord NF'
    style: Bold

  # Italic font face
  italic:
    family: 'RictyDiminishedDiscord NF'
    style: Italic

  # Bold italic font face
  bold_italic:
    family: 'RictyDiminishedDiscord NF'
    style: Bold Italic

  # Point size
  size: 14

cursor:
  style: Block

shell:
  program: /opt/homebrew/bin/zsh

  args:
    - --login

key_bindings:
  - { key: Q, mods: Control, chars: "\x11" }
  - { key: N, mods: Command, action: SpawnNewInstance }
  - { key: T, mods: Command, command: {program: "/opt/homebrew/bin/tmux", args: ["new-window"]} }
  - { key: Left, mods: Command, command: {program: "/opt/homebrew/bin/tmux", args: ["previous-window"]} }
  - { key: Right, mods: Command, command: {program: "/opt/homebrew/bin/tmux", args: ["next-window"]} }
  - { key: H, mods: Command, command: {program: "/opt/homebrew/bin/tmux", args: ["previous-window"]} }
  - { key: L, mods: Command, command: {program: "/opt/homebrew/bin/tmux", args: ["next-window"]} }
  - { key: D, mods: Command, command: {program: "/opt/homebrew/bin/tmux", args: ["split-window", "-h"]} }
  - { key: F, mods: Command, command: {program: "/opt/homebrew/bin/tmux", args: ["split-window"]} }
  - { key: W, mods: Command, command: {program: "/opt/homebrew/bin/tmux", args: ["kill-pane"]} }

# Colors (Iceberg Dark)

colors:
  # Default colors
  primary:
    background: '#161821'
    foreground: '#d2d4de'

  # Normal colors
  normal:
    black:   '#161821'
    red:     '#e27878'
    green:   '#b4be82'
    yellow:  '#e2a478'
    blue:    '#84a0c6'
    magenta: '#a093c7'
    cyan:    '#89b8c2'
    white:   '#c6c8d1'

  # Bright colors
  bright:
    black:   '#6b7089'
    red:     '#e98989'
    green:   '#c0ca8e'
    yellow:  '#e9b189'
    blue:    '#91acd1'
    magenta: '#ada0d3'
    cyan:    '#95c4ce'
    white:   '#d2d4de'
