name: install_and_test-ubuntu

on: 
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] 
    steps:
    - name: Install curl and bats with script
      run:  |
        curl https://raw.githubusercontent.com/Kunado/dotfiles/master/.cisupport/ubuntu/install_curl_and_bats.sh > install_curl_and_bats.sh
        chmod 755 install_curl_and_bats.sh
        sudo ./install_curl_and_bats.sh
    - name: Execute install.sh
      run:  |
        curl https://raw.githubusercontent.com/Kunado/dotfiles/master/install.sh > install.sh
        chmod 755 install.sh
        ./install.sh -y
    - name: Run tests for Ubuntu
      run:  |
        cd ~/dev/src/github.com/kunado/dotfiles
        bats --tap tests/ubuntu/*.bats
        bats --tap tests/common/*.bats
